<template>
    <div>
        <select @change="onChange($event)">
            <option v-for="(month, index) in months" :value="index">{{month}}</option>
        </select>
        <div class="table-responsive-xl">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Student</th>
                        <td v-for="n in daysInMonth">{{current}}/{{n}}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="student in students">
                        <td class="idtable">{{student.id}}</td>
                        <td class="studentname">{{student.name}} {{student.surname}}</td>
                        <td class="ratingblock" v-for="day in daysInMonth" :value="currentNumber" :day="day" data-toggle="modal" data-target="#rateMe" style="cursor: pointer;" @click="openingmodal($event)"  > 
                            <h5 v-for="str in studentRatings" v-if=" str.month == currentNumber && str.day == day && str.user_id == student.id " :day="day" @click="disableme($event)" style="cursor: default;">{{str.rate}}</h5>
                            <!-- <h5 v-else></h5> -->
                        </td>
                    </tr>           
                </tbody>
            </table>
        </div>
        <!-- MODAL -->

        <div class="modal fade" id="rateMe">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <p class="modal-title" style="font-size: 28px">Rate <b>{{clickedChild}}</b></p>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        Rating: 
                        <select id="myRating">
                            <!-- <select v-for="n in 10" > -->
                                <option value="0" selected="">None:</option>
                                <template v-for="n in 10">
                                    <option :value="n" v-if=" n == clickedBlocksRate" selected="false" class="thatoneselect">{{n}}</option>
                                    <option :value="n" v-else-if=" n != clickedBlocksRate">{{n}} <script type="0"></script> </option>
                                </template>
                            <!-- </select> -->
                            <!-- <option v-for="n in 10" v-if=" n == clickedBlocksRate " selected>{{n}}</option> -->
                            <!-- <option v-for="n in 10" v-else>{{n}}</option> -->
                        </select>
                        Date: {{current}}/{{clickedDay}}
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-info" @click="saveHisRating($event)">Save</button>
                    </div>

                </div>
            </div>
        </div>
    </div>




</template>
<script>
    export default {
        data(){
            return{
                students: [],
                months : ['JAN','FEB','MAR','APR','MAY','JUN','JUL','AUG','SEP','OCT','NOV','DEC'],
                current : 'JAN',
                currentNumber : 1,
                daysInMonth : new Date(new Date().getFullYear(), 1, 0).getDate(),
                clickedChild : '',
                clickedDay : '',
                clickedUser: '',
                studentRatings : '',
                clickedBlocksRate : '',
                clickedBlock : ''
            }


        },
        created() {
            axios.post('/api/vue/getStudents')
            .then((r) => {
                this.students = r.data;
            })
            axios.post('/api/vue/getRatings')
            .then((r) => {
                this.studentRatings = r.data
            })
        },
        methods: {
            signin: function(event){
                console.log(this.login)
                console.log(this.password)
            },
            onChange(event){
                this.current = this.months[event.target.value] 
                this.currentNumber = +event.target.value+1,
                // console.log(this.currentNumber)
                // console.log(new Date(new Date().getFullYear(), event.target.value, 0).getDate());
                this.daysInMonth = new Date(new Date().getFullYear(), this.currentNumber, 0).getDate()
            },
            openingmodal(event){
                let parent = event.target.parentElement
                let ImEmpty = true
                let thatoneselect
                for(let i = 0; i<parent.childNodes.length; i++){
                    // console.log(parent.childNodes[i].className)
                    if(parent.childNodes[i].className == "studentname"){
                        this.clickedChild = parent.childNodes[i]
                    }
                }
                this.clickedChild = this.clickedChild.innerHTML
                this.clickedDay = event.target.getAttribute('day')
                for(let i = 0 ; i<event.target.children.length; i++){
                    if(event.target.children[i].getAttribute('day')){
                        this.clickedBlocksRate = event.target.children[i].innerHTML
                    }
                }
                for(let i = 0 ; i<event.target.children.length; i++){
                    if(event.target.children[i].innerHTML == ''){
                        ImEmpty = true
                    }
                    else{
                        ImEmpty = false
                        break
                    }
                }
                if(ImEmpty){
                    thatoneselect = document.getElementsByClassName('thatoneselect')
                    if(thatoneselect.length > 0){
                        document.getElementsByClassName('thatoneselect')[0].removeAttribute('selected')
                    }
                }
                else{
                    thatoneselect = document.getElementsByClassName('thatoneselect')
                    if(thatoneselect.length > 0){
                        document.getElementsByClassName('thatoneselect')[0].setAttribute('selected','selected')
                    }
                }

                for(let i = 0; i<parent.childNodes.length; i++){
                    // console.log(parent.childNodes[i].className)
                    if(parent.childNodes[i].className == "idtable"){
                        this.clickedUser = parent.childNodes[i].innerHTML
                        break
                    }
                }
                this.clickedBlock = event.target
            },
            disableme(event){
                event.stopPropagation()
                // this.openingmodal1(event.target.parentElement)
                // console.log(event.target.parentElement)
            },
            saveHisRating(event){
                let emptyatAll = true
                let selectelement = document.getElementById('myRating')
                axios.post('/api/vue/saveTheRating',{'day':this.clickedDay,'month':this.currentNumber,'user':this.clickedUser,'rate':selectelement.options[selectelement.selectedIndex].value})
                .then((r) => {
                    console.log('success')
                    // this.students = r.data;
                })
                console.log(this.clickedBlock)
                for(let i = 0 ; i < this.clickedBlock.children.length; i++){
                    console.log(this.clickedBlock.children[i])
                    if(this.clickedBlock.children[i].getAttribute('day')){
                        if(selectelement.options[selectelement.selectedIndex].value != 0){
                            this.clickedBlock.children[i].innerHTML = selectelement.options[selectelement.selectedIndex].value
                        }
                        else{
                            this.clickedBlock.children[i].innerHTML = ''
                        }
                        emptyatAll = false
                    }
                }
                if(emptyatAll){
                        swal({
                          title: "Good job!",
                          text: "The rate is added! It will apear after refresh",
                          icon: "success",
                          button: "OK!",
                        });
                }
                
            }
        }

    }
</script>
